/*
 * Copyright (c) 2021 Sviatoslav Bulbakha
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE_MAC 0
#define BASE_NIX 1
#define EXTD_MAC 2
#define EXTD_NIX 3
#define SYMB 4
#define NUMB_MAC 5
#define NUMB_NIX 6
#define FUNC 7

#define PREV_MAC LG(LS(LBKT))
#define NEXT_MAC LG(LS(RBKT))

#define PREV_NIX LC(TAB)
#define NEXT_NIX LC(LS(TAB))

#define ZOOM_IN  LG(PLUS)
#define ZOOM_OUT LG(MINUS)
#define ZOOM_RES LG(N0)

#define BRI_UP LC(C_BRI_UP)
#define BRI_DN LC(C_BRI_DN)

&sk {
  quick-release;
};

/ {
  behaviors {
    smart_shift: smart_shift {
      compatible = "zmk,behavior-mod-morph";
      label = "SMART_SHIFT";
      #binding-cells = <0>;
      bindings = <&sk LSFT>, <&caps_word>;
      mods = <(MOD_LSFT)>;
    };
  };

  conditional_layers {
    compatible = "zmk,conditional-layers";

    /* number layer duplicated to avoid using combo for layer activation */

    mac_num_tri_layer {
      if-layers = <2 4>;
      then-layer = <5>;
    };

    nix_num_tri_layer {
      if-layers = <3 4>;
      then-layer = <6>;
    };
  };

  combos {
    compatible = "zmk,combos";

    combo_func {
      timeout-ms = <300>;
      key-positions = <30 33>;
      bindings = <&mo FUNC>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    def_mac_layer {
      label = "BASE MAC";
      bindings = <
      &kp Q        &kp W        &kp F        &kp P        &kp B          &kp J        &kp L        &kp U        &kp Y        &kp SQT
      &kp A        &kp R        &kp S        &kp T        &kp G          &kp M        &kp N        &kp E        &kp I        &kp O
      &kp Z        &kp X        &kp C        &kp D        &kp V          &kp K        &kp H        &kp COMMA    &kp DOT      &kp FSLH
                                             &smart_shift &mo EXTD_MAC   &kp SPACE    &mo SYMB
      >;
    };

    def_nix_layer {
      label = "BASE NIX";
      bindings = <
      &kp Q        &kp W        &kp F        &kp P        &kp B          &kp J        &kp L        &kp U        &kp Y        &kp SQT
      &kp A        &kp R        &kp S        &kp T        &kp G          &kp M        &kp N        &kp E        &kp I        &kp O
      &kp Z        &kp X        &kp C        &kp D        &kp V          &kp K        &kp H        &kp COMMA    &kp DOT      &kp FSLH
                                             &smart_shift &mo EXTD_NIX   &kp SPACE    &mo SYMB
      >;
    };

    ext_mac_layer {
      label = "EXTD MAC";
      bindings = <
      &kp ESC      &kp PREV_MAC &kp LG(F)     &kp NEXT_MAC &key_repeat   &kp PG_UP    &kp HOME     &kp UP       &kp END      &kp CAPS
      &sk LALT     &sk LGUI     &sk LSFT      &sk LCTL     &kp LC(G)     &kp PG_DN    &kp LEFT     &kp DOWN     &kp RIGHT    &kp DEL
      &kp RG(Z)    &kp RG(X)    &kp RG(C)     &kp TAB      &kp RG(V)     &kp LA(BSPC) &kp BSPC     &none        &none        &none
                                              &trans       &trans        &kp RET      &trans
      >;
    };

    ext_nix_layer {
      label = "EXTD NIX";
      bindings = <
      &kp ESC      &kp PREV_NIX &kp LC(F)     &kp NEXT_NIX &key_repeat   &kp PG_UP    &kp HOME     &kp UP       &kp END      &kp CAPS
      &sk LALT     &sk LGUI     &sk LSFT      &sk LCTL     &kp LC(G)     &kp PG_DN    &kp LEFT     &kp DOWN     &kp RIGHT    &kp DEL
      &kp RC(Z)    &kp RC(X)    &kp RC(C)     &kp TAB      &kp RC(V)     &kp LC(BSPC) &kp BSPC     &none        &none        &none
                                              &trans       &trans        &kp RET      &trans
      >;
    };

    sym_layer {
      label = "SYMB";
      bindings = <
      &kp EXCL     &kp AT       &kp HASH      &kp DLLR     &kp PRCNT     &kp EQUAL    &kp GRAVE    &kp COLON    &kp SEMI     &kp STAR
      &kp LT       &kp AMPS     &kp LBRC      &kp LPAR     &kp LBKT      &kp MINUS    &kp LCTL     &kp LSFT     &kp LGUI     &kp LALT
      &kp GT       &kp CARET    &kp RBRC      &kp RPAR     &kp RBKT      &kp PLUS     &kp UNDER    &kp TILDE    &kp PIPE     &kp BSLH
                                              &trans       &trans        &trans       &trans
      >;
    };

    num1_layer {
      label = "NUMB";
      bindings = <
      &kp N7       &kp N5       &kp N3        &kp N1       &kp N9        &kp N8       &kp N0       &kp N2       &kp N4       &kp N6
      &kp LALT     &kp LGUI     &kp LSFT      &kp LCTL     &kp F11       &kp F10      &kp LCTL     &kp LSFT     &kp LGUI     &kp LALT
      &kp F7       &kp F5       &kp F3        &kp F1       &kp F9        &kp F8       &kp F12      &kp F2       &kp F4       &kp F6
                                              &mo FUNC     &trans        &trans       &trans
      >;
    };

    num2_layer {
      label = "NUMB";
      bindings = <
      &kp N7       &kp N5       &kp N3        &kp N1       &kp N9        &kp N8       &kp N0       &kp N2       &kp N4       &kp N6
      &kp LALT     &kp LGUI     &kp LSFT      &kp LCTL     &kp F11       &kp F10      &kp LCTL     &kp LSFT     &kp LGUI     &kp LALT
      &kp F7       &kp F5       &kp F3        &kp F1       &kp F9        &kp F8       &kp F12      &kp F2       &kp F4       &kp F6
                                              &mo FUNC     &trans        &trans       &trans
      >;
    };

    fun_layer {
      label = "FUNC";
      bindings = <
      &none        &kp C_PREV   &kp C_PP      &kp C_NEXT   &kp BRI_UP    &none        &bt BT_PRV   &bt BT_CLR   &bt BT_NXT   &none
      &kp LALT     &kp C_VOL_DN &kp C_MUTE    &kp C_VOL_UP &kp BRI_DN    &none        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL2  &tog BASE_NIX
      &none        &none        &none         &none        &none         &none        &none        &none        &none        &none
                                              &none        &trans        &trans       &trans
      >;
    };
  };
};
